[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

grpcio-tools = "*"
alembic = "*"
sqlalchemy = "*"
"psycopg2" = "*"
pytest = "*"
pytest-mock = "*"


[dev-packages]



[requires]

python_version = "3.6"
